<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">">>
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <title>Formulario</title>
</head>
<body>



<div class="container">
    <div class="form__top">
        <h2>Cadastro <span>Evento</span></h2>
    </div>
    <form class="form__reg" action="">
        <input class="input" type="text" placeholder="Nome" required>
        <textarea rows="5" cols="40" maxlength="500" placeholder="Descrição..."></textarea>
        <input class="input" type="text" placeholder="Modalidade" required>
        <input class="input" type="text" placeholder="Telefone">
        <input class="input" type="text" placeholder="Endereço" required>
        <input class="input" type="datetime-local" placeholder="Endereço" required>
        <div class="btn__form">
            <input class="btn__submit" type="submit" value="Limpar">
            <input class="btn__reset" type="reset" value="Cadastrar" onclick="window.location.href='../../../../PaginaPrincipal/index.phtml';">
        </div>
    </form>
</div>

</body>
</html>