<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">">>
	<link rel="stylesheet" href="../../../assets/css/main.css">
	<title>Formulario</title>
</head>
<body>



	<div class="container">
		<div class="form__top">
			<h2> <span>Login</span></h2>
		</div>		
		<form class="form__reg" method="post" action="../../../app/Models/processalogin.php">
			<input class="input" type="text" name="nome" placeholder="&#128100;  Nome" >
            <input class="input" type="password" name="senha" placeholder="&#9993;  Senha">
            <div class="btn__form">
            	<input class="btn__submit" type="reset" value="Limpar">
            	<input class="btn__reset" type="submit" value="Enviar">
            </div>
		</form>
	</div>
	
</body>
</html>