#abas{
    margin-bottom: 1%;
}
#abas ul li{
    margin: 2%;
    border: 1px solid black;
    border-radius: 10px 10px 10px 0;
    padding: 7px;
}
#conteudos{
    border: 1px solid black;
}
.selecionado{
    background-color: black;
    color: #EEEE00;
    box-shadow: 3px 3px 3px gray;
}